#pokemon{
	list-style-type: none;
	text-align: center;
}

#pokemon li{
		text-transform: capitalize;
}

#pokemon li:hover {
	cursor: pointer;
	background: gray;
	color: white;
}

.pokemondetails {
	text-align: left;
}
